hw_imx135_liteon=/system/etc/camera/davinci/hw_imx135_liteon/
hw_ov5648_foxconn=/system/etc/camera/davinci/hw_ov5648_foxconn/
imx214_foxconn=/system/etc/camera/davinci/imx214_foxconn/
imx214_sunny=/system/etc/camera/davinci/imx214_sunny/
s5k4e1_sunny=/system/etc/camera/davinci/s5k4e1_sunny/
ov5648_foxconn=/system/etc/camera/davinci/ov5648_foxconn/
imx214_sunny_front=/system/etc/camera/davinci/imx214_sunny_front/
imx214_liteon_front=/system/etc/camera/davinci/imx214_liteon_front/
imx214_liteon=/system/etc/camera/davinci/imx214_liteon/
altek6010_s5k4e1=/system/etc/camera/davinci/altek6010_s5k4e1/
altek6010_ov5648=/system/etc/camera/davinci/altek6010_ov5648/
altek6010_imx278_sunny=/system/etc/camera/davinci/altek6010_imx278_sunny/
altek6010_imx278_liteon=/system/etc/camera/davinci/altek6010_imx278_liteon/
altek6010_imx278_lg=/system/etc/camera/davinci/altek6010_imx278_lg/
