imx214_sunny=/system/etc/camera/smartae/config/imx214_sunny/
s5k4e1_sunny=/system/etc/camera/smartae/config/s5k4e1_sunny/
imx214_foxconn=/system/etc/camera/smartae/config/imx214_foxconn/
ov5648_foxconn=/system/etc/camera/smartae/config/ov5648_foxconn/
imx214_liteon=/system/etc/camera/smartae/config/imx214_liteon/
imx214_liteon_front=/system/etc/camera/smartae/config/imx214_liteon_front/
imx214_sunny_front=/system/etc/camera/smartae/config/imx214_sunny_front/
altek6010_imx278_lg=/system/etc/camera/smartae/config/altek6010_imx278_lg/
altek6010_imx278_liteon=/system/etc/camera/smartae/config/altek6010_imx278_liteon/
altek6010_imx278_sunny=/system/etc/camera/smartae/config/altek6010_imx278_sunny/
altek6010_ov5648=/system/etc/camera/smartae/config/altek6010_ov5648/
altek6010_s5k4e1=/system/etc/camera/smartae/config/altek6010_s5k4e1/
