imx214_sunny=/system/etc/camera/tornado/config/imx214_sunny/
imx214_liteon=/system/etc/camera/tornado/config/imx214_liteon/
imx214_liteon_front=/system/etc/camera/tornado/config/imx214_liteon_front/
imx214_sunny_front=/system/etc/camera/tornado/config/imx214_sunny_front/
altek6010_imx278_sunny=/system/etc/camera/tornado/config/altek6010_imx278_sunny/
altek6010_imx278_lg=/system/etc/camera/tornado/config/altek6010_imx278_lg/
altek6010_imx278_liteon=/system/etc/camera/tornado/config/altek6010_imx278_liteon/
